
    
    <div class="left" float="left">
      <h1>THP</h1>
      <h5>Le code devient plus simple</h5>
      <p id="greenline">___________________________</p>
      <p><i class="material-icons md-18">sentiment_very_satisfied</i> Une formation gratuite</p>
      <p><i class="material-icons md-18">public</i> Ouverte à tous</p>
      <p><i class="material-icons md-18">people_outline</i> En peer-learning</p>
    </div>

    <div class="right" float="right">
      <div class="topright">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
          <p class="instructions">Entrez vos identifiants:</p>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"   Email", class:"input_email" %><br>
          <%= f.password_field :password, autocomplete: "off", placeholder:"   Password (6 characters minimum)", class:"input_password" %><br>
          <%= f.password_field :password_confirmation, autocomplete: "off", placeholder:"   Password confirmation", class:"input_password" %>
        <div class="actions">
          <%= f.submit "S'enregistrer", class:"submit-button" %>
        </div>
        <% end %>
      </div>
      <div class="bottomright">
        <%= link_to('Pour se connecter', new_user_session_path, class:"connect-button") %>
      </div>
    </div>

  











